@model HW6.Models.product

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
        $(document).ready(() => {
            $(function () {
                $("#btnSave").click(function () {
                    var product = {};
                    //product.product_id = $("#product_id").val();
                    product.product_name = $("#product_name").val();
                    product.brand_id = $("#brand_id").val();
                    product.category_id = $("#category_id").val();
                    product.model_year = $("#model_year").val();
                    product.list_price = $("#list_price").val();
                    console.log(product.product_name);
                    console.log(product.brand_id);
                    console.log(product.category_id);
                    console.log(product.model_year);
                    console.log(product.list_price);
                    //alert(product.product_id);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create")',
                        data: '{product: ' + JSON.stringify(product) + '}',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            //alert("Success " + response);
                            window.location.href = response.redirectToUrl;
                        },
                        failure: function (response) {
                            alert("Failure " + response.responseText);
                            console.log(response.responseText);
                        },
                        error: function (response) {
                            alert("Error " + response.responseText);
                            console.log(response.responseText);
                        }
                    });
                });
            });
        });
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "products", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.product_id)
        <div class="form-group">
            @Html.LabelFor(model => model.product_name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brand_id, "Brand", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("brand_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.brand_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category_id, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.model_year, "Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.model_year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.model_year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.list_price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.list_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.list_price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary" name="submitButton" id="btnSave" value="Create" type="button">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

